{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "dynamicImport": true,
            "decorators": true
        },
        "target": "es2022",
        "externalHelpers": false,
        "loose": false,
        "keepClassNames": true
    },
    "isModule": true,
    "module": {
        "type": "es6",
        "strict": false,
        "strictMode": true,
        "noInterop": false,
        "lazy": false
    },
    "sourceMaps": true
}